/*full document style*/
body{
	font-family:'Open Sans', sans-serif;
	font-weight: regular;
	/*overflow: hidden;*/

	
}

h1{
 font-size: 3.1em;
}

#tablettop{
	width: 900px;
	border: 1px solid ;
	border-radius: 5px;
	margin: 40px;
	background-color: #326074;
	
}

#mainbox{
	margin: 40px;
	color: #ffffff;
	margin-bottom: 250px;
	

}
.input-errors{
  color:#F8C113;
  list-style: none;
}


#innerbox{
	text-align: center;
	background-image: url("../images/Mountcookresize.jpg");
	padding: 90px;
	border-radius: 5px;

}
/*Validation section*/

.form-control{
	border-radius: 5px;
	height: 40px;
	width: 200px;
	font-size: 16px;
	padding-left: 10px;
}

label{
	font-size: 20px;
}

/*mix it up style */

#mainPage{
	margin: 40px;
	color: #ffffff;
	/*display: none;*/
	
}

li{
	list-style: none;
}

/*property images*/

.box{
	height: 240px;
	width: 250px;
	display: inline-block;
	border-radius: 5px;
	margin:5px;

}

.box img{
	width: 100%;
	border-radius: 5px 5px 0px 0px;;

}

.description{
	margin: 10px;
	margin-left: 20px;
	font-size: 14px;
	float: left;
}

.price{
	margin: 10px;
	margin-right: 20px;
	font-size: 14px;
	float: right;

}

.nelson, .christchurch, .kaikoura, .queenstown, .wanaka{
	background-color: white;
	color:black;
}



/*control buttons*/
.control{
	position: relative;
	display: inline-block;
	width: 110px;
	height: 50px;
	background-color: #ffffff;
	cursor: pointer;
	color: grey;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
	font-size: 16px;


	
}

.control[data-filter=".nelson"]{
	color: #91e6c7;
}

.control[data-filter=".kaikoura"]{
	color: #5ecdde;
}

.control[data-filter=".christchurch"]{
	color: #d595aa;
}

.control[data-filter=".queenstown"]{
	color: #5ecdde;
}

.control[data-filter=".wanaka"]{
	color: #d595aa;
}

.control[data-filter="none"]{
	color: #fff;
}

.control:hover{
	background-color: #f2d060;
}

button:focus{
	outline: 0;

}

.mixitup-control-active{
	background-color: #F8C113;
	
	color: black !important;
}

/*map section*/

#mapSection{
	width: 800px;
	height: 600px;
	margin-top: 40px;

	
}


#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
  float: left;
  width: 70%;
  height: 100%;
}
#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}
#directions-panel {
  margin-top: 10px;
  background-color: #FFEE77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
  color: black;
}

/*calculation section*/

#totalPrice{
	font-size: 24px;
}
.button{
	padding: 15px;
	font-size: 15px;
	margin: 2px;
	border-radius: 5px;
	color:#ffffff;
	background-color:#0091f9;
	/*border-color: #365bc9;*/
}

.buttonlo{
	padding: 15px;
	font-size: 15px;
	margin: 2px;
	border-radius: 5px;
	color:#ffffff;
	background-color:#0091f9;
	/*border-color: #365bc9;*/
}


#nelsonPanel, #kaikouraPanel, #queenstownPanel, #christchurchPanel, #wanakaPanel{
	display: none;
	background-color: #b1b9c6;
	padding: 20px;
	border-radius: 5px;
	width: 500px;
	margin-top: 5px;

}


#submitButton{
	width:200px;
	height:50px;
	background-color: #F8C113;
	border-radius: 5px;
	font-size: 18px;
}


